

.App .links{
  display: flex;
  justify-content: flex-end;
}
.App .links ul{
  width:500px;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* hui made some changes below */

.App .loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;

  position: absolute; /* centering log-in box */
  top: 25%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);

}

.App .loginForm form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  background: #39bfff;
}


.loginForm form label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:white;
}
.App .loginForm form button{
  width:100%;
  
}
.App .text-area{
  width:100%;
}

.App .ticket-list .card-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.App .dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .dashboard h3,p{
  text-align: center;
}
.App .ticket{
  
  margin:2rem;
  /* width: 30%; */
}
/* .App .ticket h1{
  font-size: 2rem;
  
} */
.App .modal .ticketForm{
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.ticket-maker {
  text-align: center;
}

.ticket-maker h1 {
  margin-bottom: 2rem;
}

.middle-screen {
  position: absolute;
  /* display: inline; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {

  background-image: url("./img/snow.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}